// neutral compounds
$clr-gray-50: #f9fafb;
$clr-gray-100: #f3f4f6;
$clr-gray-200: #e5e7eb;
$clr-gray-300: #d1d5db;
$clr-gray-400: #9ca3af;
$clr-gray-500: #6b7280;
$clr-gray-600: #4b5563;
$clr-gray-700: #374151;
$clr-gray-800: #1f2937;
$clr-gray-900: #111827; 

// Primary colors
$clr-indigo-400: #6366f1;
$clr-indigo-500: #3a54d5; 
$clr-indigo-700: #4338ca; 

// Signal colors
$clr-red-500: #ef4444;
$clr-amber-500: #f59e0b;
$clr-emerald-500: #10b981;

// Special effects
$clr-white-90: rgba(255, 255, 255, 0.9);
$clr-gray-200-50: rgba(209, 213, 219, 0.5);
$clr-gradient-slate: linear-gradient(135deg, #f8fafc 0%, #f1f5f9 100%);



// Цвета Олега(лежат здесь, чтобы было легче переносить стили с его проекта). Потом удалим
$oleg-primary: #3a54d5;
$oleg-primary-light: #6366f1;
$oleg-primary-dark: #4338ca;
$oleg-secondary: #6b7280;
$oleg-danger: #ef4444;
$oleg-warning: #f59e0b;
$oleg-success: #10b981;
$oleg-glass: rgba(255, 255, 255, 0.9);
$oleg-glass-border: rgba(209, 213, 219, 0.5);
$oleg-text-primary: #111827;
$oleg-text-secondary: #6b7280;
$oleg-bg-gradient: linear-gradient(135deg, #f8fafc 0%, #f1f5f9 100%);
$oleg-gray-50: #f9fafb;
$oleg-gray-100: #f3f4f6;
$oleg-gray-200: #e5e7eb;
$oleg-gray-300: #d1d5db;
$oleg-gray-400: #9ca3af;
$oleg-gray-500: #6b7280;
$oleg-gray-600: #4b5563;
$oleg-gray-700: #374151;
$oleg-gray-800: #1f2937;
